
.container {
  padding: 40px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formRow {
  display: flex;
  gap: 20px;
}

.formField {
  flex: 1;
}

.fieldLabel {
  font-weight: 600;
  color: #334155;
  margin-bottom: 8px;
}

.input {
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 1.25rem;
  background-color: white;
  border-radius: 24px;
  border: none;
  height: 57px;
  color: #0f172a;
}

.profileSection {
  position: relative;
  margin-left: 80px;
  margin-top: 40px;
}

.profileImage {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
